.workDay {
  display: flex;
  gap: 2px;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: default;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s;
  background-color: #f9f9f9;
}

.timeAndGeo {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.status {
  margin-top: 10px;
  font-weight: bold;
}

.editStatus {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 4px;
  gap: 2px;
}

.editStatus div {
  padding: 3px;
  flex: 1;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.confirm {
  background-color: #4caf50;
  color: white;
}

.refusal {
  background-color: #f44336;
  color: white;
}

.active {
  border: 1px solid black;
}
