.main {
  padding: 10px;
}

.group {
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.date {
  font-weight: bolder;
}
.groupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 5px 10px;
  transition: background 0.3s; /* Анимация изменения фона */
}

.groupContent {
  padding: 10px 10px;
  background: #fff;
}
